# LaTeX files
**/*.bbl
**/*.blg
**/*.brf
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.out
**/*.synctex.gz
**/*.log
**/*.pdf

**/.DS_Store/
.vscode
.idea
*.venv
/code/checkpoints
/code/logs
/code/misclassified
*/__pycache__
results.txt

*/Images/*.zip
*/Images/*.pdf